html, body {
    margin: 0;
    height: 100%;
  }
  #container {
    width: 200px;
    height: 100px;
    display: block;
    background-color: white;
  }

  #text {
    display: block;
    background-color: #fff;
  }

  .number {
    width: 15px;
    display: inline-block;
  }

  .add {
    width: 50px;
    display: inline-block;
  }