html, body {
    margin: 0;
    height: 100%;
    font-family: Arial;
  }

  #container {
    width: 400px;
    height: 200px;
    display: inline-block;
    background-color: white;
  }

  .text {
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    
  }

  .number {
    width: 75px;
    display: inline-block;
  }

  .add {
    width: 75px;
    display: inline-block;
  }

  .title {
    display: block;
    font-weight: bold;
  }

  #output{
    display: block;
    font-weight: lighter;
  }
